{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/security/style.css') }}">
{% endblock %}
{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <img src="" alt="Logo d'adrar classrooms">
    <h2 class="h3 mb-3 font-weight-normal">Bienvenue</h2>
    <label for="inputEmail">E-mail</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Se Souvenir de Moi
        </label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>
</form>
<div class="pubStagiaire">
    <p id="quote">
        "J'étais musicien indépendant, mais la COVID a tout stoppé. On m’a parlé d’ADRAR Classrooms, ça m'a ouvert des opportunités professionnelles insoupçonnées."
    </p>
    <p id="auteur">
        Alexandre - Développeur Full-Stack Junior
    </p>
    <img src="" alt="">
</div>
{% endblock %}
