{% extends 'base.html.twig' %}

{# {% block title %}Hello AccueilController!{% endblock %} #}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/accueil/style.css') }}">
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="container-main">

        <div class="nav-bar">

            <div class="logo">
                <img src="{{ asset('imgs/icones/logo.png') }}" alt="">
                <img src="{{ asset('imgs/icones/classrooms-text.png') }}" alt="">
            </div>
            <div id="search-btn" class="search-btn">
                <img onclick="unfold()" id="search-toggler" src="{{ asset('imgs/icones/search.png') }}" alt="">
            </div>

            <div id="nav" class="nav">
                <a class="selected" href="/pagetest">Accueil</a>
                <a href="{{ path('app_accueil') }}">Formation</a>
                <a href="{{ path('app_accueil') }}">Administration</a>
            </div>
            <div id="search-bar">
                <div class="input-bar">
                    <input type="text" id="search-input" placeholder="Rechercher (langages, mots-clés, cours, ...)" >
                    <ul id="suggestion-list"></ul>
                </div>
            </div>

            <div class="end-nav">

                {% if app.user %}
                    <div class="connect-btn">
                        <h3 style="color: #5584AC;" >{{ app.user.firstname }}</h3>
                    </div>
                {% else %}
                    <div class="connect-btn">
                        <a href="{{ path('app_login') }}">Se connecter</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="body">
            <div class="blocs">
                <div class="bloc-presentation one">
                    <div class="txts">
                        <h3>Votre métier de demain, à portée de main</h3>
                        <div class="more" >
                            <h5>Développez de nouvelles compétences dans le domaine de l’informatique et intégrer la formation de votre choix.</h5>
                            <div class="btns">
                                <div class="btn-candidature">
                                    <a href="/accueil">Démarrer ma candidature</a>
                                </div>
                                <div class="btn-decouverte">
                                    <a href="/">Découvrir les formations</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="{{ asset('imgs/student1.svg') }}" alt="">
                </div>
                <div class="bloc-presentation two">
                    <div class="contents">
                        <div class="card">
                            <img src="{{ asset('imgs/ellipse-1.svg') }}" alt="">
                            <h4>Diplôme certifiants</h4>
                            <p>Nos parcours procurent des titres reconnus par l’État</p>
                        </div>
                        <div class="card">
                            <img src="{{ asset('imgs/ellipse-2.svg') }}" alt="">
                            <h4>Mentor</h4>
                            <p>Un expert du secteur vous suit de manière régulière</p></div>
                        <div class="card">
                            <img src="{{ asset('imgs/ellipse-3.svg') }}" alt="">
                            <h4>Remboursé si non embauché</h4>
                            <p>Vous êtes remboursé si vous ne trouvez pas d'emploi dans les 8 mois suivants la fin de la formation</p>
                        </div>
                    </div>
                </div>
                <div class="bloc-presentation caroussel">

                    <div class="container-reviews">
                                        <h4>Témoignage & sourires</h4>
                        <div class="avatar">
                            <img src="{{ asset('imgs/avatar-test.png') }}" alt="">
                        </div>
                        <h4 id="name" >{{ reviews[0].user }}</h4>
                        <p id="comment" class="content-text" >{{ reviews[0].content }}</p>
                    </div>
                </div>
                    <div class="caroussel-btns">
                        <img id="prevR" src="{{ asset('imgs/buttons/prev.svg') }}" alt="">
                        <img id="nextR" src="{{ asset('imgs/buttons/next.svg') }}" alt="">
                    </div>
                <div class="bottom">
                    <p>2023 © ADRAR Classrooms. Tous droits réservés.</p>
                <div onclick="toTop()" class="btn-up">
                    <img src="{{ asset('imgs/icones/up.svg') }}" alt="">
                    <img src="{{ asset('imgs/icones/up.svg') }}" alt="">
                </div>
            </div>
            </div>

        </div>

    </div>
{% endblock %}
        {% block js %}
            <script async src="{{ asset('scripts/slider.js') }}"></script>
            <script src="{{ asset('scripts/toggler.js') }}"></script>
        {% endblock %}
{# {% block js %}
    <script src="{{ asset('scripts/toggler.js') }}"></script>
{% endblock %} #}
