<!DOCTYPE html>
<html>
    <head class="Inter">
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body class="Inter">
        {% block header %}
            <header>
                <div class="formations_header">
                    <img src="{{ asset('pictures/adrar-classrooms-logo.png') }}"/>
                    <img src="{{ asset('pictures/classrooms-text.png') }}"/>
                    <h4>Acceuil</h4>
                    <h4>Formations</h4>
                    <h4>Administration</h4>
                    <img src="{{ asset('pictures/magnifying-glass-solid.png') }}"/>
                    <h4>NOM PRENOM</h4>
                    <img src="{{ asset('pictures/icon_account.png') }}"/>
                </div>
            </header>
        {% endblock %}
        {% block body %}
            <h1>Hello !</h1>
        {% endblock %}
        {% block footer %}
            <footer>
                <div class="formations_footer">
                    <h4>2023 © ADRAR Classrooms. Tous droits réservés.</h4>
                    <img src="{{ asset('pictures/bouton_footer.jpg') }}"/>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
