<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('/styles/app.css') }}">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>

    <body class="inter_font">
        {% block header %}
            <header>
                <nav class="formations_navbar">
                    <div>
                        <img src="{{ asset('pictures/adrar-classrooms-logo.png') }}" alt="Error Loading Pictures" />
                        <img src="{{ asset('pictures/classrooms-text.png') }}" alt="Error Loading Pictures" />
                    </div>
                    <div>
                        <h4>Acceuil</h4>
                        <h4>Formations</h4>
                        <h4>Administration</h4>
                    </div>
                    <div>
                        <img src="{{ asset('pictures/magnifying-glass-solid.svg') }}" alt="Error Loading Pictures" />
                        <h4>NOM PRENOM</h4>
                        <img src="{{ asset('pictures/icon_account.png') }}" alt="Error Loading Pictures" />
                    </div>
                </nav>
            </header>
        {% endblock %}
        {% block body %}
            <h1>Hello !</h1>
        {% endblock %}
        {% block footer %}
            <footer>
                <h4>2023 © ADRAR Classrooms. Tous droits réservés.</h4>
                <img src="{{ asset('pictures/bouton_footer.jpg') }}" alt="Error Loading Pictures" />
            </footer>
        {% endblock %}
    </body>
</html>
